@import url("styles/dynamic.css");
@import url("styles/launcher.css");
@import url("styles/colors.css");
@import url("styles/wallpapers.css");
@import url("styles/volume.css");
@import url("styles/workspaces.css");
@import url("styles/systray.css");
@import url("styles/date_time.css");
@import url("styles/metrics.css");
@import url("styles/player.css");
@import url("styles/wiggle.css");
@import url("styles/notification.css");
@import url("styles/dashboard.css");
@import url("styles/pill.css");
@import url("styles/dock_widget.css");