certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
click==8.1.8
fabric @ git+https://github.com/Fabric-Development/fabric.git@c24c19c74bd66cd353741b32fe303dd62fe86d9f
i3ipc==2.2.1
idna==3.10
line_profiler==5.0.0
loguru==0.7.3
pillow==11.1.0
psutil==7.0.0
pulsectl==24.11.0
pycairo==1.27.0
pycparser==2.23
PyGObject==3.50.0
PyOpenGL==3.1.9
python-pam==2.0.2
python-xlib==0.33
requests==2.32.5
six==1.17.0
urllib3==2.5.0
