--foreground-player: {{colors.on_background.default.hex}};
--background-player: {{colors.background.default.hex}};
--cursor-player: {{colors.on_background.default.hex}};
--primary-player: {{colors.primary.default.hex}};
--on-primary-player: {{colors.on_primary.default.hex}};
--secondary-player: {{colors.secondary.default.hex}};
--on-secondary-player: {{colors.on_secondary.default.hex}};
--tertiary-player: {{colors.tertiary.default.hex}};
--on-tertiary-player: {{colors.on_tertiary.default.hex}};
--surface-player: {{colors.surface.default.hex}};
--surface-bright-player: {{colors.surface_bright.default.hex}};
--error-player: {{colors.error.default.hex}};
--error-dim-player: {{colors.error.default.hex | set_lightness: -10.0}};
--on-error-player: {{colors.on_error.default.hex}};
--error-container-player: {{colors.error_container.default.hex}};
--outline-player: {{colors.outline.default.hex}};
--shadow-player: {{colors.shadow.default.hex}};
--red-player: {{colors.red.default.hex}};
--red-dim-player: {{colors.red.default.hex | set_lightness: -10.0}};
--green-player: {{colors.green.default.hex}};
--green-dim-player: {{colors.green.default.hex | set_lightness: -10.0}};
--yellow-player: {{colors.yellow.default.hex}};
--yellow-dim-player: {{colors.yellow.default.hex | set_lightness: -10.0}};
--blue-player: {{colors.blue.default.hex}};
--blue-dim-player: {{colors.blue.default.hex | set_lightness: -10.0}};
--magenta-player: {{colors.magenta.default.hex}};
--magenta-dim-player: {{colors.magenta.default.hex | set_lightness: -10.0}};
--cyan-player: {{colors.cyan.default.hex}};
--cyan-dim-player: {{colors.cyan.default.hex | set_lightness: -10.0}};
--white-player: {{colors.white.default.hex}};
--pink-player: {{colors.pink.default.hex}};
--light-pink-player: {{colors.light_pink.default.hex}};