:vars {
  --foreground: #dde4e3;
  --background: #0e1415;
  --cursor: #dde4e3;
  --primary: #80d4d6;
  --on-primary: #003738;
  --secondary: #b0cccc;
  --on-secondary: #1b3435;
  --tertiary: #b4c8e9;
  --on-tertiary: #1d314c;
  --surface: #0e1415;
  --surface-bright: #343a3a;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #899392;
  --shadow: #000000;
  --red: #ffb595;
  --red-dim: #ff9162;
  --green: #95d5a7;
  --green-dim: #70c789;
  --yellow: #b8cf84;
  --yellow-dim: #a3c15f;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #f2b3e5;
  --magenta-dim: #eb87d6;
  --cyan: #80d4d5;
  --cyan-dim: #5ac7c8;
  --white: #82d3e0;
  --pink: #ffb59d;
  --light-pink: #ffb1c4;
}