:vars {
  --foreground: #ece0d9;
  --background: #17120e;
  --cursor: #ece0d9;
  --primary: #fcb97a;
  --on-primary: #4b2800;
  --secondary: #e4c0a1;
  --on-secondary: #422c16;
  --tertiary: #88d1e5;
  --on-tertiary: #003640;
  --surface-dull: #0f0c09;
  --surface: #17120e;
  --surface-semi-bright: #26211e;
  --surface-bright: #3f3833;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #9e8e81;
  --shadow: #000000;
  --red: #ffb595;
  --red-dim: #ff9162;
  --green: #f0ffcc;
  --green-dim: #e1ff99;
  --yellow: #ffffff;
  --yellow-dim: #e6e6e6;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #ffb1c1;
  --magenta-dim: #ff7e98;
  --cyan: #ffffff;
  --cyan-dim: #e6e6e6;
  --white: #ffffff;
  --pink: #ffb59d;
  --light-pink: #ffd4c9;
}