:vars {
  --foreground: #f1dfdb;
  --background: #1a1110;
  --cursor: #f1dfdb;
  --primary: #ffb4a8;
  --on-primary: #561e16;
  --secondary: #e7bdb6;
  --on-secondary: #442925;
  --tertiary: #dec48c;
  --on-tertiary: #3e2e04;
  --surface: #1a1110;
  --surface-bright: #423735;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #a08c89;
  --shadow: #000000;
  --red: #ffb4a8;
  --red-dim: #ff8875;
  --green: #b7d085;
  --green-dim: #a1c260;
  --yellow: #dec56e;
  --yellow-dim: #d5b444;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #ffb1c1;
  --magenta-dim: #ff7e98;
  --cyan: #84d5c4;
  --cyan-dim: #5ec8b2;
  --white: #82d3e0;
  --pink: #ffb4ab;
  --light-pink: #ffb3ad;
}