:vars {
  --foreground: #ede1d4;
  --background: #18130b;
  --cursor: #ede1d4;
  --primary: #f3bd6e;
  --on-primary: #442b00;
  --secondary: #dcc3a1;
  --on-secondary: #3d2e16;
  --tertiary: #b7cea2;
  --on-tertiary: #233516;
  --surface: #18130b;
  --surface-bright: #3f382f;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #9b8f80;
  --shadow: #000000;
  --red: #ffb595;
  --red-dim: #ff9162;
  --green: #b7d085;
  --green-dim: #a1c260;
  --yellow: #dec56e;
  --yellow-dim: #d5b444;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #ffb1c1;
  --magenta-dim: #ff7e98;
  --cyan: #84d5c4;
  --cyan-dim: #5ec8b2;
  --white: #82d3e0;
  --pink: #ffb59d;
  --light-pink: #ffb4a1;
}