:vars {
  --foreground: #f1dedc;
  --background: #1a1110;
  --cursor: #f1dedc;
  --primary: #ffb4a9;
  --on-primary: #561e17;
  --secondary: #e7bdb7;
  --on-secondary: #442926;
  --tertiary: #dfc38c;
  --on-tertiary: #3e2e04;
  --surface: #1a1110;
  --surface-bright: #423735;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #998d96;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #b7d085;
  --green-dim: #a1c260;
  --yellow: #dec56e;
  --yellow-dim: #d5b444;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #f5b2e0;
  --magenta-dim: #ef85ce;
  --cyan: #82d3e2;
  --cyan-dim: #59c4d8;
  --white: #82d3e0;
  --pink: #ffb4ac;
  --light-pink: #ffb3ae;
}