:vars {
  --foreground: #dfe3e7;
  --background: #0f1417;
  --cursor: #dfe3e7;
  --primary: #8ccff0;
  --on-primary: #003547;
  --secondary: #b4cad6;
  --on-secondary: #1f333d;
  --tertiary: #c7c2ea;
  --on-tertiary: #2f2d4c;
  --surface: #0f1417;
  --surface-bright: #353a3d;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8a9297;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #95d5a7;
  --green-dim: #70c789;
  --yellow: #b8cf84;
  --yellow-dim: #a3c15f;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #f2b3e5;
  --magenta-dim: #eb87d6;
  --cyan: #82d3e2;
  --cyan-dim: #59c4d8;
  --white: #82d3e0;
  --pink: #ffb1c0;
  --light-pink: #ffb1c4;
}