--foreground-player: #dde4e3;
--background-player: #0e1514;
--cursor-player: #dde4e3;
--primary-player: #80d5d4;
--on-primary-player: #003737;
--secondary-player: #b0cccb;
--on-secondary-player: #1b3534;
--tertiary-player: #b3c8e8;
--on-tertiary-player: #1c314b;
--surface-player: #0e1514;
--surface-bright-player: #343a3a;
--error-player: #ffb4ab;
--error-dim-player: #ff8678;
--on-error-player: #690005;
--error-container-player: #93000a;
--outline-player: #889392;
--shadow-player: #000000;
--red-player: #ffb595;
--red-dim-player: #ff9162;
--green-player: #95d5a7;
--green-dim-player: #70c789;
--yellow-player: #b8cf84;
--yellow-dim-player: #a3c15f;
--blue-player: #bec2ff;
--blue-dim-player: #8b92ff;
--magenta-player: #f2b3e5;
--magenta-dim-player: #eb87d6;
--cyan-player: #80d5d4;
--cyan-dim-player: #5ac8c7;
--white-player: #82d3e0;
--pink-player: #ffb59d;
--light-pink-player: #ffb4a1;