:vars {
  --foreground: #ebdfe6;
  --background: #171216;
  --cursor: #ebdfe6;
  --primary: #edb4eb;
  --on-primary: #4a204d;
  --secondary: #d8bfd4;
  --on-secondary: #3c2b3b;
  --tertiary: #f6b8ac;
  --on-tertiary: #4c251e;
  --surface: #171216;
  --surface-bright: #3e373c;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #998d96;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #b7d085;
  --green-dim: #a1c260;
  --yellow: #dec56e;
  --yellow-dim: #d5b444;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #f5b2e0;
  --magenta-dim: #ef85ce;
  --cyan: #82d3e2;
  --cyan-dim: #59c4d8;
  --white: #82d3e0;
  --pink: #ffb1c0;
  --light-pink: #ffb1c4;
}