:vars {
  --foreground: #ffdad4;
  --background: #210e0b;
  --cursor: #ffdad4;
  --primary: #ffb4a8;
  --on-primary: #680200;
  --secondary: #ffb4a8;
  --on-secondary: #680200;
  --tertiary: #a5c8ff;
  --on-tertiary: #00315e;
  --surface: #210e0b;
  --surface-bright: #4b332f;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #b08780;
  --shadow: #000000;
  --red: #ffb4a8;
  --red-dim: #ff8875;
  --green: #f0ffcc;
  --green-dim: #e1ff99;
  --yellow: #ffffff;
  --yellow-dim: #e6e6e6;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #ffb1c1;
  --magenta-dim: #ff7e98;
  --cyan: #ffffff;
  --cyan-dim: #e6e6e6;
  --white: #ffffff;
  --pink: #ffb4ab;
  --light-pink: #ffd3cf;
}