--foreground-player: #f1dfdb;
--background-player: #1a1110;
--cursor-player: #f1dfdb;
--primary-player: #ffb4a6;
--on-primary-player: #561e14;
--secondary-player: #e7bdb5;
--on-secondary-player: #442a24;
--tertiary-player: #dcc48c;
--on-tertiary-player: #3d2e04;
--surface-player: #1a1110;
--surface-bright-player: #423735;
--error-player: #ffb4ab;
--error-dim-player: #ff8678;
--on-error-player: #690005;
--error-container-player: #93000a;
--outline-player: #a08c89;
--shadow-player: #000000;
--red-player: #ffb4a7;
--red-dim-player: #ff8974;
--green-player: #b7d085;
--green-dim-player: #a1c260;
--yellow-player: #dec56e;
--yellow-dim-player: #d5b444;
--blue-player: #bec2ff;
--blue-dim-player: #8b92ff;
--magenta-player: #ffb1c1;
--magenta-dim-player: #ff7e98;
--cyan-player: #84d5c4;
--cyan-dim-player: #5ec8b2;
--white-player: #82d3e0;
--pink-player: #ffb4aa;
--light-pink-player: #ffb3ac;