:vars {
  --foreground: #e6e1e1;
  --background: #141313;
  --cursor: #e6e1e1;
  --primary: #cfc3ca;
  --on-primary: #352e34;
  --secondary: #ccc5c7;
  --on-secondary: #332f32;
  --tertiary: #c7c7bb;
  --on-tertiary: #2f3128;
  --surface-dull: #0d0d0d;
  --surface: #141313;
  --surface-semi-bright: #232222;
  --surface-bright: #3a3939;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #978e93;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #f0ffcc;
  --green-dim: #e1ff99;
  --yellow: #ffffff;
  --yellow-dim: #e6e6e6;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #ffade5;
  --magenta-dim: #ff7ad5;
  --cyan: #ffffff;
  --cyan-dim: #e6e6e6;
  --white: #ffffff;
  --pink: #ffb1c0;
  --light-pink: #ffd1db;
}