:vars {
  --foreground: #e4e2e5;
  --background: #131316;
  --cursor: #e4e2e5;
  --primary: #b8c6ee;
  --on-primary: #213050;
  --secondary: #c2c6d8;
  --on-secondary: #2b303e;
  --tertiary: #e3c286;
  --on-tertiary: #402d00;
  --surface-dull: #0d0d0f;
  --surface: #131316;
  --surface-semi-bright: #232324;
  --surface-bright: #39393c;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8f9098;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #e8ffea;
  --green-dim: #b5ffbb;
  --yellow: #ffffff;
  --yellow-dim: #e6e6e6;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #ffabf1;
  --magenta-dim: #ff78e8;
  --cyan: #ffffff;
  --cyan-dim: #e6e6e6;
  --white: #ffffff;
  --pink: #ffb1c0;
  --light-pink: #ffd1db;
}