:vars {
  --foreground: #e1e2e8;
  --background: #111418;
  --cursor: #e1e2e8;
  --primary: #a0cafd;
  --on-primary: #003258;
  --secondary: #bbc7db;
  --on-secondary: #253140;
  --tertiary: #d6bee4;
  --on-tertiary: #3b2948;
  --surface: #111418;
  --surface-bright: #36393e;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8d9199;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #95d5a7;
  --green-dim: #70c789;
  --yellow: #b8cf84;
  --yellow-dim: #a3c15f;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #f2b3e5;
  --magenta-dim: #eb87d6;
  --cyan: #82d3e2;
  --cyan-dim: #59c4d8;
  --white: #82d3e0;
  --pink: #ffb1c0;
  --light-pink: #ffb1c4;
}