:vars {
  --foreground: #f1dedd;
  --background: #1a1110;
  --cursor: #f1dedd;
  --primary: #ffb3ad;
  --on-primary: #571e1b;
  --secondary: #e7bdb9;
  --on-secondary: #442927;
  --tertiary: #e1c28c;
  --on-tertiary: #402d04;
  --surface: #1a1110;
  --surface-bright: #423736;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #a08c8a;
  --shadow: #000000;
  --red: #ffb4aa;
  --red-dim: #ff8777;
  --green: #b7d085;
  --green-dim: #a1c260;
  --yellow: #dec56e;
  --yellow-dim: #d5b444;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #ffb1c1;
  --magenta-dim: #ff7e98;
  --cyan: #84d5c4;
  --cyan-dim: #5ec8b2;
  --white: #82d3e0;
  --pink: #ffb3ae;
  --light-pink: #ffb3b0;
}