:vars {
  --foreground: #f3dedb;
  --background: #1b110f;
  --cursor: #f3dedb;
  --primary: #ffb4a9;
  --on-primary: #650a06;
  --secondary: #feb4aa;
  --on-secondary: #51231c;
  --tertiary: #84d3d9;
  --on-tertiary: #003739;
  --surface-dull: #130c0a;
  --surface: #1b110f;
  --surface-bright: #433634;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #a68b87;
  --shadow: #000000;
  --red: #ffb4a8;
  --red-dim: #ff8875;
  --green: #f0ffcc;
  --green-dim: #e1ff99;
  --yellow: #ffffff;
  --yellow-dim: #e6e6e6;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #ffb1c1;
  --magenta-dim: #ff7e98;
  --cyan: #ffffff;
  --cyan-dim: #e6e6e6;
  --white: #ffffff;
  --pink: #ffb4ac;
  --light-pink: #ffd3cf;
}