:vars {
  --foreground: #e3e3d7;
  --background: #12140d;
  --cursor: #e3e3d7;
  --primary: #b8cf84;
  --on-primary: #263500;
  --secondary: #c2caaa;
  --on-secondary: #2c331d;
  --tertiary: #a0d0c8;
  --on-tertiary: #023732;
  --surface: #12140d;
  --surface-bright: #383a32;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #909284;
  --shadow: #000000;
  --red: #ffb595;
  --red-dim: #ff9162;
  --green: #aed18c;
  --green-dim: #94c268;
  --yellow: #c1cd7d;
  --yellow-dim: #afbf58;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #ffb1c1;
  --magenta-dim: #ff7e98;
  --cyan: #84d5c4;
  --cyan-dim: #5ec8b2;
  --white: #82d3e0;
  --pink: #ffb59d;
  --light-pink: #ffb4a1;
}