:vars {
  --foreground: #eae1dc;
  --background: #161310;
  --cursor: #eae1dc;
  --primary: #ebbd9c;
  --on-primary: #462a12;
  --secondary: #dac2b2;
  --on-secondary: #3c2d22;
  --tertiary: #a8cdd6;
  --on-tertiary: #0f353c;
  --surface-dull: #0f0d0b;
  --surface: #161310;
  --surface-semi-bright: #242120;
  --surface-bright: #3d3835;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #9c8e85;
  --shadow: #000000;
  --red: #ffb595;
  --red-dim: #ff9162;
  --green: #f0ffcc;
  --green-dim: #e1ff99;
  --yellow: #ffffff;
  --yellow-dim: #e6e6e6;
  --blue: #bec2ff;
  --blue-dim: #8b92ff;
  --magenta: #ffb1c1;
  --magenta-dim: #ff7e98;
  --cyan: #ffffff;
  --cyan-dim: #e6e6e6;
  --white: #ffffff;
  --pink: #ffb59d;
  --light-pink: #ffd4c9;
}