#dashboard.hide {
  /* background-color: aqua; */
  margin: -999px;
}
#dashboard {
  padding: 10px;
}
#inner {
  /* background-color: brown; */
  margin: 3px;
}

.tile {
  margin: 2px;
  min-height: 60px;
  min-width: 140px;
  border-radius: 20px;
}
.tile.mini{
  min-height: 45px;
  min-width: 45px;
  border-radius: 100%;
}
.tile.on {
  background-color: var(--primary);
}
.tile.off {
  background-color: var(--surface-bright);
}
.tile.on .desc-label,
.tile.on .tile-label,
.tile.on .tile-icon {
    color: black;
    transition: all;
  }
.tile.off .desc-label,
.tile.off .tile-label,
.tile.off .tile-icon {
  color: var(--foreground);
  transition: all;
}

.tile-icon {
  font-size: 16px;
  margin: 10px;
}
.tile-icon.mini{
  font-size: 20px;
  transition: font-size 0.25s cubic-bezier(0.5, 0.25, 0, 1);;
}
.tile-icon.maxi{
  font-size: 16px;
  transition: font-size 0.25s cubic-bezier(0.5, 0.25, 0, 1);;
}

.tile-button{
  all: unset;
}

.tile-menu{
  all: unset;
  min-width: 300px;
  min-height: 300px;
  margin: -999px;
}
.tile-menu.expand {
  margin: 0px;
  transition: margin 0.1s cubic-bezier(0.5, 0.25, 0, 1);
}
.tile-menu.contract{
  margin: -999px;
  transition: margin 0.25s cubic-bezier(0.5, 0.25, 0, 1);
}

