#date-time{
    background-color: black;
    padding: 0px;
    margin: 0px;
    min-height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    /* margin-right: 3px; */
}

#date-time.vertical{
    /* padding-left: 5px;
    padding-right: 5px; */
    min-width: 36px;
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 5px;
    border-radius: 17px;
}

#date-time, label{
    color: white;
    font-size: 15px;
}

#date-time-container{
    padding: 3px;
    padding-left: 0px;
    border-radius: 17px;
    margin: 0px;
    box-shadow: 25px -30px 0 10px black;
}

#date-time-container.vertical{
    padding: 0px;
    border-radius: 17px;
    margin: 0px;
    box-shadow: none;
}