#date-time{
    all:unset;
    padding: 0px;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#date-time, label{
    color: white;
    font-size: 15px;
}

#date-time-container{
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    border-radius: 17px;
    background-color: black;
}