.hoverer{
    padding: 20px;
    background-color: red;
}
/* #workspaces{
    padding: 0px;
} */
#hole-placeholder-box{
    background-color: black;
    /* border: solid 1px red     */
}

#spacer {
    min-width: 10px;
}