.hoverer {
  padding: 20px;
  background-color: red;
}
/* #workspaces{
    padding: 0px;
} */
#hole-placeholder-box {
  background-color: black;
  /* border: solid 1px red     */
}

#spacer {
  min-width: 10px;
}

#dock-module {
  /* box-shadow: 0px 0px 10px 10px whitez
  border-radius: 100%; */
  /* padding-top: 3px; */
  /* background-color: red; */
   /* border: 1px solid white; */
}

#hover-overlay {
  /* border: 1px solid white; */
}
