* {
  all: unset;
}

.roboto {
  font-family: Roboto Flex;
}

.google-sans-flex {
  font-family: Google Sans Flex;
}

.material-label {
    font-family: "Material Symbols Rounded";
}

#collapsed.vertical {
  min-width: 10px;
  border-bottom-left-radius: 0px;
}

#user-label {
  color: var(--foreground);
  background-color: var(--shadow);
  border-radius: 25px;
  padding: 13px 15px;
  font-family: Roboto Flex;
  font-weight: 600;
}

#orientation-btn {
  background-color: var(--shadow);
  border-radius: 17px;
  min-width: 38px;
  padding: 0px;
}

#orientation-label {
  color: var(--primary);
  font-size: 25px;
}

#pill {
  background-color: black;
}


#close-button-small {
  background-color: var(--surface-semi-bright);
  border-radius: 16px;
  padding: 10px;
}

#close-button-small:hover,
#close-button-small:focus {
  background-color: var(--surface-bright);
}

#close-button-small:active {
  background-color: var(--primary);
}

#close-label-small {
  color: var(--shadow);
  background-color: var(--error-dim);
  font-size: 20px;
  padding: 2px;
  border-radius: 999px;
  min-width: 25px;
}
