* {
  all: unset;
}

/* * {
    font-family: "ZedMono NF", sans-serif;
  } */

/* * {
  font-family: "Material Symbols Rounded";
} */

.material-label {
    font-family: "Material Symbols Rounded";
}

#collapsed.vertical {
  min-width: 10px;
  border-bottom-left-radius: 0px;
}

#user-label {
  color: white;
  background-color: black;
  border-radius: 25px;
  padding: 15px;
}

button:focus {
  outline: none;
  box-shadow: none;
}

#orientation-btn {
  all: unset;
  background-color: black;
  border-radius: 17px;
  min-width: 38px;
  padding: 0px;
}

#orientation-btn:hover {
  /* border-radius: 15px; */
  transition: border 0.1s cubic-bezier(0.5, 0.25, 0, 1);
}

#orientation-label {
  color: var(--foreground);
  font-size: 25px;
}

#pill {
  background-color: black;
}

#pill.expand {
  min-width: 100px;
  min-height: 0px;
}
