#notification-box{
    background-color: var(--shadow);
    border-radius: 25px;
    padding: 10px; 
    min-width: 364px; /* 290+74 */
}

#notification-source{
    color: var(--outline);
}

#notification-icon{
    font-size: 36px;
    margin-right: 27px;
    margin-left: 7px;
    color: var(--surface-bright);
}

#notification-container{
    background-color: var(--surface);
    border-radius: 30px;
    padding: 6px;
}

#notification-window-container{
    background-color: rgba(49, 49, 49, 0.801);
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 3px;
}

#notification-reveal-btn{
    all: unset;
    border-radius: 100%;
    padding: 10px;
    background-color: var(--shadow);
}

#notification-reveal-label{
    font-size: 20px;
    min-width: 27px;
    color: var(--outline);
}
#notification-clear-label{
    min-width: 27px;
    color: var(--outline);
}
.trash-icon-adjust{
    font-size: 25px;
    margin-bottom: -3px;
    margin-top: -3px;
    margin-left: -1px;
    margin-right: 1px;
}
.trash-up-icon-adjust{
    font-size: 21px;
    margin-left: -2px;
    margin-right: 2px;
}

#notification-scrolled-window{
    min-width: 364px;
    border-radius: 25px;
}

#notification-scrolled-window viewport{
    border-radius: 25px;
}

.action-button{
    border-radius: 16px;
    background-color: var(--surface);
    padding: 5px;
    border: 1px solid var(--surface-semi-bright);
}

.action-button:focus,
.action-button:hover{
    background-color: var(--surface-bright);
}