#notification-box{
    background-color: var(--shadow);
    border-radius: 25px;
    padding: 10px; 
    min-width: 364px; /* 290+74 */
}

#notification-source{
    color: var(--outline);
}

#notification-icon{
    font-size: 36px;
    margin-right: 27px;
    margin-left: 7px;
    color: var(--surface-bright);
}

#notification-container{
    background-color: var(--surface);
    border-radius: 30px;
    padding: 10px;
}

#notification-window-container{
    background-color: var(--surface);
    border-radius: 30px;
    padding:6px;
    margin-bottom: 3px;
}

#notification-reveal-btn{
    all: unset;
    border-radius: 100%;
    padding: 10px;
    background-color: var(--shadow);
}

#notification-reveal-label{
    font-size: 20px;
    min-width: 27px;
    color: var(--outline);
}

#notification-scrolled-window{
    min-width: 364px;
    border-radius: 25px;
}

#notification-scrolled-window viewport{
    border-radius: 25px;
}