.player{
    /* background-color: aqua; */
    min-height: 100px;
    min-width: 400px;
    box-shadow: 
        /* inset 0 100px 100px black, 
        inset 0 10px 10px rgba(0, 0, 0, 1); */
        /* inset 0 100px 100px black,  */
        inset 0 100px 100px black, 
        inset 10px 0px 10px rgba(0, 0, 0, 0.5),
        inset -10px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    background-position: center;
    background-size: cover;
}

.hide-player{
    margin: -100px;
    transition: margin 0.25s cubic-bezier(0.5, 0.25, 0, 1);
    /* animation: hidePlayer 0.5s ease; */
}

@keyframes hidePlayer {
    0% {
      margin: 0px;
    }
    100% {
      margin: -999px;
    }
  }

.reveal-player{
    margin: 0px;
    transition: margin 0.25s cubic-bezier(0.5, 0.25, 0, 1);
    /* animation: revealPlayer 0.5s ease; */
}

/* @keyframes revealPlayer {
    0% {
      margin: -100px;
    }
    100% {
      margin: 0px;
    }
  } */

#artist{
    color: var(--error-dim);
}

#song{
    color: whitesmoke;
    font-size: 16px;
    margin-top: 5px;
}

#source{
    /* background-color: antiquewhite; */
    margin-top: -10px;
}
#details{
    /* background-color: rebeccapurple; */
}
#controls{
    margin-bottom: -10px;
}

/* #player-image{
    border-radius: 20px;
    min-width: 400px;
    padding: 0px;
    margin: 0px;
    background-color: chartreuse;
    background-image: url('wallhaven-weprlq_1920x1080.png');
} */

#play-next, #play-previous{
    font-size: 30px;
}

#progress{
    /* min-height: 1px; */
    background-color: antiquewhite;
}

#pause-button {
    /* background-color: var(--surface); */
    background-color: whitesmoke;
    border-radius: 16px;
    padding: 10px;
}

#pause-button.pause-track {
    border-radius: 100%;
}

#pause-label, #play-label {
    color: var(--shadow);
    /* background-color: var(--error-dim); */
    font-size: 20px;
    padding: 2px;
    border-radius: 999px;
    min-width: 25px;
}

#shuffle-button, #next-button, #prev-button{
    border: none;
    padding: 0px;
    padding-left: 11px;
    padding-right: 11px;
}

#shuffle-button:hover, #next-button:hover, #prev-button:hover{
    border-radius: 100%;
    /* background-color: white; */
    /* opacity: .3; */
    box-shadow: inset rgba(255, 255, 255, 0.5) 0 0 10px;
}

.player-button{
    border-radius: 5px;
    /* background-color: var(--secondary); */
    background-color: white;
    opacity: 0.5;
    min-width: 10px;
    min-height: 10px;
    padding: 0px;
    margin: 0px;
    border: none;
    margin-left: 5px;
}

.player-button.active{
    opacity: 1;
    /* min-width: 40px; */
    /* border-radius: 5px; */
}

#player-switch-container{
    margin-top: -17px;
    padding-bottom: 7px;
}

.player-icon{
    font-size: 20px;
}

#shuffle{
    font-size: 17px;
}

#disable-shuffle{
    font-size: 27px;
}