.player {
  min-height: 130px;
  min-width: 350px;

  /* This line decimates performance if it wraps a 60Hz redraw component */
  /* box-shadow: inset 0 0px 150px black; */

  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  border-radius: 25px;
  padding: 20px;
  background-position: center;
  background-size: cover;
}

.player-mini {
  min-height: 60px;
  min-width: 220px;
  padding-right: 20px;
  /* box-shadow: inset 0 0 100px rgb(148, 148, 148),
             inset 60px 0px 10px rgba(255, 255, 255, 1); */
  box-shadow:
    inset 0 0 100px rgb(148, 148, 148),
    inset 70px 0 20px rgba(255, 255, 255, 0.788),
    inset 0px 0px 20px 5px rgba(255, 255, 255, 0.808);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-position: center;
  background-size: cover;
}

#player-container.mini {
  min-height: 60px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.album-image {
  min-width: 65px;
  min-height: 60px;
  background-position: center;
  background-size: cover;
  /* border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; */
  border-radius: 15px;
  /* margin: 2px; */
}

/* .player.vertical{
    box-shadow: 
        inset 100px 0px 150px black, 
        inset 0px 10px 10px rgba(0, 0, 0, 0.5),
        inset 0px -10px 10px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 200px;
    min-height: 200px;
} */

#artist {
  color: rgba(252, 252, 252, 0.664);
}

#song {
  color: whitesmoke;
  font-size: 16px;
  /* margin-top: 5px; */
}
#song.mini {
  color: var(--surface-player);
  font-size: 15px;
  margin-top: 5px;
}

#source {
  /* margin-top: 0px;
  margin-bottom: 10px; */
}

#source-name {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 0 9px;
}
#source.mini {
  margin-left: -20px;
  margin-bottom: 5px;
}

#controls {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px; /* every btn has a padding, so the spacing between
                    meta box and controls box appears to look more */
  margin-bottom: -5px;
}
#controls.mini {
  /* margin-bottom: -5px; */
}

#play-next,
#play-previous {
  text-shadow: none;
  font-size: 30px;
}

#play-next.mini,
#play-previous.mini {
  font-size: 30px;
  color: var(--surface-player);
  /* padding-left: 1px;
  padding-right: 1px; */
}
#play-pause-label {
  color: var(--primary-player);
  text-shadow: none;
}
#play-pause-label.mini {
  color: var(--surface-player);
  font-size: 18px;
  padding: 0px 6px; 
}

#progress {
  background-color: antiquewhite;
}

#pause-button {
  background-color: var(--primary-player);
  border-radius: 16px;
  padding: 10px;
  transition: border-radius 0.25s cubic-bezier(0.5, 0.25, 0, 1);
}

#pause-button.pause-track {
  border-radius: 100%;
}

#pause-label,
#play-label {
  color: var(--shadow-player);
  font-size: 20px;
  padding: 2px;
  border-radius: 999px;
  min-width: 25px;
}

#pause-label.mini,
#play-label.mini {
  color: white;
  font-size: 20px;
  padding: 2px;
  border-radius: 999px;
  min-width: 25px;
}

#next-button,
#prev-button,
#play-pause-button {
  padding: 0px 3px;
}
#shuffle-button,
#progress-container {
  padding: 0px 9px;
}

#shuffle-button:hover,
#next-button:hover,
#prev-button:hover,
#play-pause-button:hover {
  border-radius: 100%;
  /* background-color: white; */
  /* opacity: .3; */
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 0 10px;
}

.player-button {
  border-radius: 5px;
  background-color: white;
  opacity: 0.5;
  min-width: 10px;
  min-height: 10px;
  padding: 0px;
  margin: 0px;
  border: none;
  margin-left: 5px;
}

.player-button.mini {
  border-radius: 5px;
  background-color: var(--surface-player);
  opacity: 0.5;
  min-width: 10px;
  min-height: 10px;
  padding: 0px;
  margin: 0px;
  border: none;
  margin-top: 5px;
}

.player-button.active {
  opacity: 1;
  /* min-width: 40px; */
  /* border-radius: 5px; */
}

#player-switch-container.vertical-player {
  margin-top: -23px;
  padding-bottom: 13px;
}

#player-switch-container {
  margin-top: -17px;
  padding-bottom: 7px;
}

#player-switch-container.mini {
  margin-top: 0px;
  margin-left: -20px;
  padding-right: 10px;
}

#controls.vertical {
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.player-icon {
  color: var(--primary-player);
  font-size: 25px;
  margin: -4px 0px;
}

.player-icon.mini {
  font-size: 20px;
  color: black;
  text-shadow: 0 0 5px white;
}

#shuffle {
  font-size: 18px;
}
  
#disable-shuffle {
  font-size: 27px;
  margin: 0px -5px;
}

#placeholder-icon {
  font-size: 70px;
  margin-left: -70px;
  margin-bottom: -20px;
  margin-right: -20px;
}