#power-menu {
  background-color: black;
  padding: 10px;
  border-radius: 25px;
  min-height: 30px;
}

.menu-item {
  padding: 10px;
  min-width: 30px;
  border-radius: 17px;
  border: none;
}

.menu-item:hover,
.menu-item:focus {
  background-color: var(--surface-bright);
}

.menu-label {
  font-size: 24px;
}

