#resolver-container {
  /* background-color: var(--surface-dull);
  padding: 20px;
  margin: 0px;
  min-width: 400px;
  border-radius: 20px; */
}

.variation-type-label {
  min-width: 80px;
}

#control-slider-mui.variation-scale highlight,
#control-slider-mui.variation-scale trough {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#stack-switcher {
  all: unset;
}

#settings {
  background-color: var(--surface-dull);
  border-radius: 25px;
  min-width: 1000px;
  padding: 12px;
  border: 2px solid var(--surface-bright);
}

#settings-header{
  border-radius: 25px 25px 0px 0px;
  background-color: var(--surface-dull);
}

#settings-content{
  background-color: var(--shadow);
  padding: 12px;
  border-radius: 25px;
}

#settings-footer{
  padding: 0px 0px;
}

#settings-stack{
  padding: 40px 0px;
}

#settings-stack-container {
  background-color: var(--surface-dull);
  /* padding: 20px; */
  margin: 0px;
  min-width: 400px;
  border-radius: 18px;
}

.settings-option-btn {
  all: unset;
  padding: 15px;
  border-radius: 15px;
}

.settings-option-btn:hover {
  background-color: var(--surface);
}

.settings-option-btn.checked {
  background-color: var(--surface-bright);
  border-radius: 25px;
}

.settings-option-btn.checked > * > * {
  /* color: var(--surface); */
}

.settings-option-label {
}

#notebook header {
  all: unset;
  background-color: aqua;
  padding: 0px;
  margin: 0px;
}

#settings-tab {
  all: unset;
  background-color: black;
}

.settings-btn {
  background-color: var(--surface-semi-bright);
  padding: 15px;
  border-radius: 15px;
  min-width: 50px;
}

.settings-btn.bright{
  background-color: var(--surface-bright);
  color: var(--on-primary);
}

.settings-btn:hover, .settings-btn:hover>* {
  background-color: var(--primary);
  color: var(--on-primary);
}


.settings-section-container {
  /* margin-bottom: 10px; */
}

.settings-list-container {
  border-radius: 20px;
}

.settings-item {
  background-color: var(--surface-semi-bright);
  border-radius: 5px;
  padding: 10px;
}


.settings-value {
  background-color: var(--surface-bright);
  padding: 10px 15px;
  border-radius: 20px;
}

.section-heading {
  font-size: 18px;
}

.section-subheading {
  color: var(--outline);
}

#shapes-box {
  background-color: var(--surface-semi-bright);
  padding: 20px;
  border-radius: 10px;
}

#config-path-label {
  border-radius: 20px;
  color: var(--primary);
  background-color: var(--surface-semi-bright);
}

#config-path-box {
  border-radius: 20px;
  color: var(--primary);
  background-color: var(--surface-semi-bright);
  padding: 8px 12px;
}

#settings-button-group-btn{
  background-color: var(--on-primary);
  border-radius: 5px;
  padding: 8px 16px;
}

#settings-button-group-btn.first{
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

#settings-button-group-btn.last{
  background-color: var(--on-primary);
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

#settings-button-group-btn.active{
  background-color: var(--primary);
  border-radius: 22px;
}

#settings-button-group-btn.active>*>*{
  color: var(--surface);
}

.module-pill{
  background-color: var(--surface-semi-bright);
  border-radius: 15px;
  padding: 16px;
}

.module-pill.active{
  background-color: var(--primary);
  border-radius: 22px;
  color: var(--surface);
}

.module-pill.active.ranking{
  padding: 16px;
  border-radius: 30px;
}

#module-drop-box{
  background-color: var(--surface);
  border: dashed 3px var(--surface-bright);
  border-radius: 25px;
  padding: 10px;
}

.placeholder-row{
  border: dashed 3px var(--surface-bright);
  margin: 4px;
  border-radius: 25px;
}

#module-pill-close-button{
  padding: 0;
  margin-left: -2px;
}