#systray{
    background-color: black;
    padding: 2px;
    margin: 3px;
    border-radius: 15px;
}

#systray.vertical{
    padding: 1px;
}

#tray-button{
    /* background-color: #1c1c1c; */
    background-color: rgb(43, 35, 37);
    border: none;
    border-radius: 16px;
}