#systray{
    background-color: black;
    padding: 2px;
    margin: 0px;
    border-radius: 17px;
}

#systray.vertical{
    padding: 2px;
    margin: 0px;
}

#tray-button{
    /* background-color: #1c1c1c; */
    background-color: var(--surface);
    border: none;
    border-radius: 16px;
}