#control-slider {
    /* background-color: var(--primary); */
    margin: 12px 14px;
  }
  
  #control-slider trough {
    min-height: 4px;
    padding: 0 14px;
    margin: -12px -14px;
    background-color: black;
    border-radius: 20px;
    border: 2px solid #3f3f3f
  }
  
  #control-slider trough highlight {
    border-radius: 20px;
    min-width: 28px;
    min-height: 28px;
    margin: 0 -14px;
    background-color: var(--primary);
  }
  
  #control-slider slider {
    border-radius: 100%;
    min-width: 20px;
    min-height: 20px;
    border: 4px solid transparent;
  }
  
  #control-slider.vol slider {
    background-image: url("../icons/volume.png");
    background-size: contain;
  }
  
  #control-slider.mic slider {
    /* background-image: url("./.config/Ax-Shell/assets/icons/microphone.png"); */
    background-size: contain;
  }
  
  #control-slider.brightness slider {
    background-image: url("../icons/brightness.png");
    background-size: contain;
  }
  
  #control-small {
    padding: 4px;
    margin-top: 4px;
    border-radius: 16px;
    background-color: var(--shadow);
  }
  
  #button-volume, #button-mic, #button-brightness {
    color: var(--surface-bright);
    /* border: 3px solid var(--primary); */
    border: 3px solid rgb(228, 83, 83);
    /* border: 3px solid rgb(235, 161, 161); */
  }
  
  #button-volume.muted, #button-mic.muted {
    color: var(--surface-bright);
    border: 3px solid var(--outline);
  }
  
  #vol-label, #mic-label, #brightness-label {
    font-size: 20px;
  }
  
  #vol-label.muted, #mic-label.muted {
    color: var(--outline);
  }

  *{
    box-shadow: none;
    background-image: none;
    border-image: none;
  }

  #button-bar-vol, #button-bar-brightness{
    border: none;
    box-shadow: none;
    /* background-color: red; */
    min-width: 37px;
    min-height: 37px;
    border-radius: 45%;
  }
  #vol-button, #brightness-button{
    /* box-shadow: none; */
    border: none;
    /* background-color: blueviolet; */
    /* min-width: 40px; */
    /* min-height: 20px; */
    /* border-radius: 45%; */
  }
  .muted{
    margin-left: -9px;
    margin-bottom: -1px;
  }
  .brightness-adjust{
    margin-left: -7px;
    margin-bottom: -1px;
  }
  #brightness-label, #vol-label{
    color: antiquewhite;
  }
  *{
    background-image: none;
    border-image: none;
  }