#control-slider {
  /* background-color: var(--primary); */
  margin: 20px 14px;
}

#control-slider.vertical {
  min-height: 290px;
}

#control-slider trough {
  min-height: 4px;
  padding: 0 14px;
  margin: -12px -14px;
  background-color: black;
  border-radius: 20px;
  border: 2px solid #3f3f3f;
}

#control-slider trough highlight {
  border-radius: 20px;
  min-width: 28px;
  min-height: 28px;
  margin: 0 -14px;
  background-color: var(--primary);
}

#control-slider.muted-slider highlight {
  background-color: var(--outline);
}

#control-slider.muted-slider slider {
  background-image: url("/home/aman/fabric/icons/mute.png");
  background-size: contain;
}

#control-slider.vertical slider {
  margin: 0 -8px;
  margin-top: 40px;
}

#control-slider.vol-overflow-slider highlight {
  background-color: rgb(228, 83, 83);
}

#control-slider slider {
  border-radius: 100%;
  min-width: 20px;
  min-height: 20px;
  border: 4px solid transparent;
}

#control-slider.vol slider {
  background-image: url("/home/aman/fabric/icons/volume.png");
  background-size: contain;
}

#control-slider.mic slider {
  background-size: contain;
}

#control-slider.brightness slider {
  background-image: url("/home/aman/fabric/icons/brightness.png");
  background-size: contain;
}

#control-small {
  padding: 4px;
  margin-top: 4px;
  border-radius: 16px;
  background-color: var(--shadow);
}

#button-volume,
#button-mic,
#button-brightness {
  color: var(--surface-bright);
  border: 3px solid var(--primary);
}

#button-volume.muted,
#button-mic.muted {
  color: var(--surface-bright);
  border: 3px solid var(--outline);
}

#vol-label,
#mic-label,
#brightness-label {
  font-size: 25px;
}

#vol-label {
  font-size: 23px;
  margin-top: -1px;
}

#vol-label.muted,
#mic-label.muted {
  color: var(--outline);
}

#button-bar-vol,
#button-bar-brightness {
  border: none;
  box-shadow: none;
  min-width: 37px;
  min-height: 37px;
  border-radius: 45%;
}
#vol-button,
#brightness-button {
  border: none;
}
#vol-button {
  padding: 9px;
}
.muted {
  margin-left: -9px;
  margin-bottom: -1px;
}

#brightness-label,
#vol-label {
  color: antiquewhite;
}

/* #control-slider-mui {
  margin-bottom: 10px;
} */

#control-slider-mui,
#control-slider-mui slider,
trough,
highlight {
  all: unset;
}

#control-slider-mui trough {
  background-color: var(--surface-bright);
  min-height: 10px;
}

#control-slider-mui slider {
  margin-top: -3px;
  margin-bottom: -3px;
  margin-left: 12px;
  background-color: var(--primary);
  min-height: 40px;
  border-radius: 10px;
  min-width: 4px;
  /* border: 4px black solid; */
  box-shadow: 0 0 0 4px black;
}

#control-slider-mui highlight {
  background-color: var(--primary);
  border-radius: 0 4px 4px 0;
  /* box-shadow: 4px 0 0 4px black; */
}

#control-slider-mui trough {
  border-radius: 0 12px 12px 0;
  padding-right: 6px; /* counter slider negative margins */
}

#control-slider-mui.vertical trough {
  background-color: var(--surface-bright);
  min-width: 10px;
  min-height: 300px;
}

#control-slider-mui.vertical slider {
  margin-left: -3px;
  margin-right: -3px;
  margin-bottom: 12px;
  background-color: var(--primary);
  min-width: 40px;
  border-radius: 10px;
  min-height: 4px;
  /* box-shadow: 0 0 0 4px black; */
}

#control-slider-mui.vertical highlight {
  background-color: var(--primary);
  border-radius: 4px 4px 12px 12px;
  /* box-shadow: 0 4px 0 4px black; */
}

#control-slider-mui.vertical trough {
  border-radius: 12px 12px 12px 12px;
  padding-right: 0px;
  padding-top: 10px; /* counter slider negative margins */
}

#control-slider-mui.vertical.mute highlight,
#control-slider-mui.vertical.mute slider {
  background-color: var(--outline);
}

#control-slider-mui.vertical.vol-overflow-slider highlight,
#control-slider-mui.vertical.vol-overflow-slider slider {
  background-color: rgb(228, 83, 83);
}

#control-slider-mui-container {
  padding: 7px;
  background-color: var(--shadow);
  border-radius: 17px;
}

#control-slider-label {
  margin-top: 4px;
}

.scale-icon-container {
  background-color: var(--primary);
  border-radius: 12px 0 0 12px;
  min-width: 35px;
}

.scale-icon {
  color: var(--shadow);
  font-size: 22px;
}

#vol-brightness-container {
  background-color: var(--shadow);
  border-radius: 18px;
}
