.active-workspace{
    background-color: antiquewhite;
    min-width: 50px;
    /* min-height: 5px; */
    min-height: 1px;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
}

.workspace-button{
    background-color: rgb(59, 54, 48);
    min-width: 8px;
    min-height: 8px;
    /* min-height: 15px; */
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

#workspace-container{
    background-color: black;
    border-radius: 100px;
    /* min-height: 37px; */
    margin: 3px;
    padding: 13px;
}

#active-window{
    background-color: black;
    /* margin: 3px; */
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    border-radius: 18px;
}

.used-workspace{
    background-color: antiquewhite;
}

.hide{
    margin:-999px;
    transition: padding 0.25s cubic-bezier(0.5, 0.25, 0, 1);
    animation: hideActiveWindow 0.5s ease;
}

@keyframes hideActiveWindow {
    0% {
      margin: 0px;
    }
    100% {
      margin: -999px;
    }
  }

#workspaces{
    box-shadow: -25px -30px 0 10px black;
    border-radius: 20px;
}