#workspaces-container {
  background-color: var(--surface-bright);
  border-radius: 17px;
  padding: 13px;
  margin-top: 1px;
}

#workspaces > button {
  padding: 5px;
  transition: all 0.15s steps(8);
  background-color: var(--foreground);
  border-radius: 10px;
}

#workspaces > button > label {
  font-size: 0px;
}

#workspaces > button:hover {
  background-color: var(--error-dim);
}

#workspaces > button.urgent {
  background-color: var(--error);
}

#workspaces > button.active {
  padding: 0px 32px;
  background-color: var(--primary);
}

#workspaces > button.empty {
  background-color: var(--background);
}

#active-window {
  background-color: black;
  padding: 13px 15px;
  font-family: Roboto Flex;
  font-weight: 600;
  /* margin-bottom: -2px; */
  color: var(--foreground);
  border-radius: 25px;
}

/* ------V0------- */

/* .active-workspace {
  background-color: var(--primary);
  border-radius: 20px;
  margin: 0px;
  padding: 0px 25px;
}

.active-workspace.vertical {
  min-height: 50px;
  min-width: 8px;
}

.workspace-button {
  background-color: var(--background);
  border-radius: 10px;
  margin: 0px;
  padding: 5px;
  
}

#workspace-container {
  background-color: var(--surface-bright);
  border-radius: 100px;
  margin: 0px;
  padding: 13px;
}

#workspace-container > button{
transition: padding 0.15s steps(8);
}

.used-workspace {
  background-color: var(--foreground);
}

#workspaces {
  border-radius: 20px;
}

#workspaces.vertical {
  padding: 0px;
  box-shadow: none;
} */
